
body
{
	font-family: Verdana;
	background:white;
}
a.navlink:link
{
	background-color:#e6e6e6;
}
a.navlink:hover
{
	background-color:#d9d9d9;
}
ul.navbar
{
	list-style-type: none;
	overflow: hidden;
	background-color: #e6e6e6;
	margin-top:-9px;
	margin-left:-8x;
	border:1px #e6e6e6;
	border-radius:8px;
}
ul.dropdown
{
    list-style-type:none;
    width:80%;
}
li.dropitemend
{
    
}
li.dropitem
{   
    border-bottom:1px solid black;
}
li a.droplink
{
    text-decoration:none;
}
div.links
{
    margin-top:30px;
	text-align:center;
}

li a.navlink
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  
}
li.navitem
{
  float: left;
    border-right:1.5px solid #000000;
}
h1
{
	text-align:center;
	font-size:24px;
}
h2
{
	text-align:center;
	font-size:18px;
}
p
{
	text-align:center;
	font-size:12px;
}